@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

:root {
    --primario: #e9a1ad;
    --secundario: #559ed1;
    --acento: #ea526f;
    --radio-suave: 1em;
    --radio-duro: 3px;
    --tiempo-estandar: 170ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: var(--secundario);
}

.nav-supercontainer {
    display: flex;
    background-color: var(--primario);
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    height: 90px;
}

.nav-container {
    display: flex;
}

.nav-item {
    text-align: center;
    align-content: center;
    margin: 10px;
    padding: 6px 12px;
    border-radius: var(--radio-suave);
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: var(--tiempo-suave);
}

.nav-item:hover {
    background-color: white;
}

.nav-item__logo {
    float: none;
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item__logo img {
    height: 60px;
    width: 222px;
}

.nav-item__logo:hover {
    background-color: transparent;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.search input {
    border: none;
    border-radius: var(--radio-duro);
    padding: 7px;
    width: 222px;
    text-align: center;
}

.search input:focus {
    outline: solid 2px var(--acento);
}

.games-container {
    display: flex;
    /* outline: solid 1px blue; */
    justify-content: space-evenly;
}

.game {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 20px;
    border: solid 5px white;
    border-radius: var(--radio-duro);
    text-align: center;
}

.game-payday, .game-tf2 {
    position: relative;
    top: -40px;
}

.game-title {
    padding: 0 0 20px;
}

.game-item-container {
    display: flex;
    gap: 20px;
}

.game-item {
    background-color: var(--primario);
    border-radius: var(--radio-suave);
    transition: var(--tiempo-estandar);
}

.game-item:hover {
    background-color: white;
}

.game-item img {
    height: 120px;
}